@model GameShop.Domain.Models.Game

@Model.Name

<a asp-action="Edit" asp-controller="Game" asp-route-id="@Model.Id" class="btn btn-primary">Редактировать</a>
<form asp-action="Delete" asp-controller="Game" asp-route-id="@Model.Id">
<input type="submit" class="btn btn-primary" value="Удалить">
</form>